.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .spinner-container {
    width: 60px;
    height: 60px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #852a9e; /* Purple */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* For inline/smaller spinners */
  .inline-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  